* {
  margin: 0px;
  padding: 0px;
}

.blog-container,
.chat-container,
.information-container {
  position: absolute;
  top: 30px;
  bottom: 50px;
  width: 100%;
  overflow-y: auto;
}

.message-list {
}