@mainColor: #0B9CD1;
@headerHeight: 50px;

* {
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: @mainColor;
  position: fixed;
  top: 0px;
  height: @headerHeight;
  width: 100%;
}

.nav-tab {
  background-color: #fff;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  border-top: 1px solid #ddd;

  li {
    display: inline-block;
    width: 20%;
    height: 100%;

    a {
      display: block;
      width: 100%;
      height: 100%;

      &.active {
        background-color: @mainColor;
        color: white;
      }

      img {
        display: block;
        // width: 100%;
        height: 100%;
        margin: 0 auto;
      }
    }
  }
}

.blog-container,
.chat-container,
.information-container {
  position: absolute;
  top: @headerHeight;
  bottom: 50px;
  width: 100%;
  overflow-y: auto;
}

.message-list {
}

.blog-container {
  .categories {
    @height: 30px;

    display: block;
    // width: calc(100% - 40px);
    height: @height;
    // margin: 20px 0px 20px 20px;
    margin: 20px 20px;
    box-sizing: border-box;

    li {
      box-sizing: border-box;
      display: inline-block;
      height: 100%;
      border: 3px solid @mainColor;
      margin: 0 5px;
      border-radius: @height/2;

      a {
        display: block;
        text-align: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: @mainColor;
        border-radius: @height/2;
        font-size: 14px;
        padding: 5px;
        box-sizing: border-box;
      }

      &.active {
        a {
          background-color: @mainColor;
          color: white;
        }
      }
    }
  }

  .article-list {
    li {
      display: block;
      width: 100%;
      border-bottom: 2px solid #eee;

      &:first-child {
        border-top: 2px solid #eee;
      }

      a {
        text-decoration: none;
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 20px 5px 20px;

        .author {
          display: block;
          padding: 5px;
          color: @mainColor;
        }

        .title {
          display: block;
          padding: 5px;
          color: black;
          font-size: 22px;
        }
      }
    }
  }

  .btn-new-article {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 30px;
    right: 30px;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.chat-container {
  @inputBoxHeight: 40px;

  background-color: #eee;
  overflow-y: hidden;

  .message-list {
    box-sizing: border-box;
    padding: 20px;
    list-style-type: none;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: @inputBoxHeight;

    li {
      display: block;
      clear: both;
      padding-top: 20px;

      .pull-left {
        float: left;
      }

      .pull-right {
        float: right;
      }

      .speaker {
        display: block;
        padding: 10px 0;

        &.pull-right {
          display: none;
        }
      }

      .text {
        display: block;
        padding: 10px;
        border-radius: 10px;
        margin: 0 10px;
        max-width: 70%;
        word-wrap: break-word;

        &.pull-left {
          background-color: @mainColor;
          color: white;
        }

        &.pull-right {
          background-color: white;
          color: black;
        }
      }
    }
  }

  .inputbox {
    position: absolute;
    border: none;
    border-top: 1px solid #ccc;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: @inputBoxHeight;
    line-height: @inputBoxHeight;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
  }
}